<!DOCTYPE html>
<html>
<head>
    <title>Google</title>
    <link rel="stylesheet" type="text/css" href="css.css">
    <link rel="shortcut icon" type="image/png" href="logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="header">
          <ul>
              <li>Gmail</li>
              <li>Grafika</li>
              <li><i class="fas fa-th"></i></li>
              <button class="login">Zaloguj się</button>
          </ul>
      </div>
      <div class="main">
          <div class="logo">
          <img src="google.png">
          </div>
          <div class="searchbar">
              <form>
              <i class="fas fa-search"></i>
              
              <div id="app">
    					<div class="container-item">
    					 <autocomplete/>
    					</div>
    					</div>
              <i class="fas fa-keyboard"></i>
              <i class="fas fa-microphone"></i>
              </form>
          </div>
          <div class="material-design">
              <button class="mdc-button--unelevated" id="mdc1">Szukaj w Google</button>
              <button class="mdc-button--unelevated" id="mdc2">Szczęśliwy traf</a></button>
          </div>
      </div>
      <div class="footer">
          <div class="country"><p>Polska</p></div>
          <div class="info">
          <ul>
            <li>Reklamuj się</li>
            <li>Dla firm</li>
            <li>O nas</li>
          </ul>
          <ul>
            <li>Prywatność</li>
            <li>Warunki</li>
            <li>Ustawienia</li>
          </ul>
         </div>
     </div>

     <script type="text/x-template" id="autocomplete-tpl">
     <div class="autocomplete">
     	<label :for="id">{{label}}</label>
     	<textarea v-if="textarea" :id="id" :rows="rows" :cols="cols" class="autocomplete-input" :placeholder="placeholder" @focusout="focusout" @focus="focus" @keydown.13="chooseItem" @keydown.tab="chooseItem" @keydown.40="moveDown" @keydown.38="moveUp" v-model="inputValue"
     		type="text"></textarea>
     	<input v-else :id="id" class="autocomplete-input" :placeholder="placeholder" @focusout="focusout" @focus="focus" @keydown.13="chooseItem" @keydown.tab="chooseItem" @keydown.40="moveDown" @keydown.38="moveUp" v-model="inputValue" type="text">


     	<ul :class="{
     		'autocomplete-list': true,
     		[id+'-list']: true
     	}" v-if="searchMatch.length > 0">
     		<li :class="{active: selectedIndex === index}" v-for="(result, index) in searchMatch" @click="selectItem(index), chooseItem()" v-html="highlightWord(result)">

     		</li>
     	</ul>
     </div>
     </script>
  <script src="animals.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="skrypt.js"></script>

</body>
</html>
